body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
}

.app {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4CAF50;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.btn-container {
    margin-top: 20px;
}

.correct {
    background-color: #4CAF50;
}

.incorrect {
    background-color: #f44336;
}

.result-container {
    margin-top: 20px;
    display: none;
    font-size: 1.2em;
}

.start-screen,
.quiz-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#next-btn {
    display: none;
    background-color: #FF9800; /* Cor laranja para o botão Próxima */
}

#next-btn:hover {
    background-color: #FB8C00; /* Tom mais escuro de laranja ao passar o mouse */
}

#restart-btn {
    display: none;
    background-color: #2196F3; /* Cor azul para o botão Recomeçar */
}

#restart-btn:hover {
    background-color: #1976D2; /* Tom mais escuro de azul ao passar o mouse */
}
